.body {
  display: flex;
	align-items: center;
	width: 100%;
	margin-top: 10%;
  padding-top: 10px;
  gap: 10px;

  img {
    border-radius: 15px;
  }

  .body-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    font-weight: 700;
    font-size: 16px;
    color: #c9d0e3;
    margin-bottom: 5px;
  }

  .subtitle {
    font-weight: 400;
    font-size: 12px;
    color: #c4d0e37c;
  }
}

