.body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 62%;
	background-color: #27354d;
	border-radius: 30px;
	border-bottom-right-radius: 0px;

	.album-cover {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80%;
		z-index: 1;

		span {
			display: block;
		}

		img {
			border-radius: 30px;
		}

		.cover-shadow {
			position: absolute;
			bottom: -20px;
			width: 90%;
			-webkit-filter: blur(10px);
			filter: blur(10px);
			z-index: -1;
		}
	}
}
