.navBar__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  color: #F8D9C0;
  margin: 10px auto;
  transition: 0.5s ease ;
  background-color: rgba(244, 187, 146,0.0);

  cursor: pointer;

  &.active {
    background-color: rgba(244, 187, 146,1);
    color: #fff;
    transform: scale(1.05);
  }

  &:hover {
    color: #fff;
  }
  
  p {
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px;
  }
}