.body {
  display: flex;
  gap: 1rem;

  .body-left {
    flex-basis: 70%;
  }

  .body-right {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}